<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brinquedos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}">

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'brinquedos' %}">Brinquedos</a>
            <a href="{% url 'estoque' %}">Materiais</a>
            <a href="#">Clientes</a>
        </nav>
    </header>
    
    <h1>Meus brinquedos:</h1>
    <ul>
        {% for brinquedo in brinquedos %}
            <li><a href="{% url 'brinquedo' brinquedo.id %}">{{brinquedo}}</a></li>
        {% empty %}

        {% endfor %}
    </ul>
    <a href="{% url 'brinquedos_cadastro' %}">Registre novo brinquedo</a>
</body>
</html>