<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brinquedos</title>
    <link rel="stylesheet" href="">
    <style>
        .brinquedos {
            border: 2px solid gray;
        }
        .materiais {
            border: 2px solid gainsboro;
        }
    </style>
</head>

<body>
    <h1>Meus brinquedos</h1>
    <ul>
    {% for brinquedo in brinquedos %}
    <div class="brinquedos">
        <li>Brinquedo: {{brinquedo}}</li>
        <li>Descricao: {{brinquedo.descricao}}</li>
        <li>Passo a passo: {{brinquedo.passo_a_passo}}</li>
        <h2>Materiais:</h2>
        <div class="materiais">
        {% for mb in material_brinquedo %}
            {% if brinquedo.id == mb.brinquedo_id %}
                <ul>
                    <li>{{mb.material}} {{mb.quantidade}}</li>
                </ul>
            {% endif %}
        {% empty %}

        {% endfor %}
        </div>
    <br>
    {% empty %}

    {% endfor %}
    </div>
    </ul>
</body>
</html>