* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #4CAF50;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #555;
    transition: background 0.3s;
}

ul {
    list-style-type: none;
    padding: 20px 0;
}

h1 {
    margin-bottom: 20px;
    color: #4CAF50;
}

form {
    background: #fff;
    padding: 19px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form p {
    margin: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 15px;
        text-align: center;
    }
}
